*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box-item_card{
    display: flex;
    justify-content: space-around;
    background-color: #f2f4fd;
    overflow: auto;
}


@media (max-width: 500px) {
    .box-item_card{
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f2f4fd;
    }
}